@import url("./reset.css");

/* common */
input {
  border: none;
  outline: none;
}
input:focus {
  outline: none;
}
button {
  padding: 5px 9px;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.sign-in {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  text-align: center;
}
.sign-in .title {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
  transform: translateX(35px);
}
.sign-in form {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.sign-in .input-box {
  margin-bottom: 7px;
}
.sign-in label {
  display: inline-block;
  width: 70px;
}
.sign-in input {
  width: 200px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.sign-in .btn-sign-in {
  display: block;
  width: 120px;
  margin: 15px auto 0;
  transform: translateX(35px);
  background-color: #efefef;
  border-radius: 3px;
}
